<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/">Demo jwt for asp.net</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul *ngIf="!heroService.token; else noServer" class="nav navbar-nav navbar-right">

                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>

            </ul>
            <ng-template #noServer>
                <ul class="nav navbar-nav navbar-right">
                    <li><a routerLink="/basket">Корзина героев {{basketService.basketHero.length}}</a></li>
                    <li><a (click)="onExit()">Exit</a></li>
                </ul>
            </ng-template>

        </div>
    </div>
</nav>